name: Local runner test

on:
  workflow_dispatch:

jobs:
  testRunner:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v4.1.1
    - name: Install Terraform
      uses: hashicorp/setup-terraform@v2.0.3
    - name: Display Terraform Version
      run: terraform --version
    - name: Display Azure-CLI Version
      run: az --version